{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>FAQ</title>
  <link rel="stylesheet" href="{% static 'faq/css/style.css' %}"> 
  <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
{% endblock meta %}
    

{% block content %} 
<h1 class="text-center">FAQ</h1>
<div class="container">
  <br>
  <div class="row d-flex flex-column justify-content-center align-items-center">
      <div class="the-accordion col-md-12 p-0 shadow-lg bg-white rounded">
          <div class="section-1">
              <div class="head-accor d-flex justify-content-between p-2 rounded bg-info rounded-top text-white mt-1 border border-info">
                  <div class="label toggle m-0">
                      <h3 class="m-1">Apa aktivitas Sultan saat ini?</h3>
                  </div>
                  <div class="arrow d-flex flex-row justify-content-around">   
                    <h4 class="down"><i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
                    <h4 class="up"><i class="fa fa-chevron-up" aria-hidden="true"></i></h4>
                  </div>
              </div>
              <div class="content-accor px-3 pt-1">
                  <p>Saat ini saya sedang kuliah di Fakultas Ilmu Komputer di Universitas Indonesia. Mata kuliah yang saya ambil semester ini yaitu, Perancangan dan pengembangan Web, Dasar-dasar Aksitektur Komputer, Struktur Data dan Algoritma dan lain-lain. Saya juga mengikuti beberapa kegiatan organisasi.</p>
              </div>
          </div>
          <div class="section-2">
              <div class="head-accor d-flex justify-content-between p-2 rounded bg-info rounded-top text-white mt-1 border border-info">
                  <div class="label toggle">
                      <h3 class="m-1">Pengalaman organisasi Sultan apa aja?</h3>
                  </div>
                  <div class="arrow d-flex flex-row justify-content-around">
                    <h4 class="down"><i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
                    <h4 class="up"><i class="fa fa-chevron-up" aria-hidden="true"></i></h4>
                  </div>
              </div>
              <div class="content-accor px-3 pt-1">
                  <p>Saat ini saya mengikuti dua organisasi yaitu, DPM(Dewan Perwakilan Mahasiswa) dan FUKI(Forum Ukhuwah dan Kajian Islam). Di DPM saya menjadi anggota Pengawasan sedangkan di Fuki saya menjadi anggota Sosmas(Sosial dan Kemasyarakatan).</p>
              </div>
          </div>
          <div class="section-3">
              <div class="head-accor d-flex justify-content-between p-2 rounded bg-info rounded-top text-white mt-1 border border-info">
                  <div class="label toggle">
                      <h3 class="m-1" >Pengalaman Kepanitiaan Sultan apa aja?</h3>
                  </div>
                  <div class="arrow d-flex flex-row justify-content-around" >
                    <h4 class="down"><i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
                    <h4 class="up"><i class="fa fa-chevron-up" aria-hidden="true"></i></h4>
                  </div>
              </div>
              <div class="content-accor px-3 pt-1">
                  <p>Saya sempat mengikuti satu kepanitiaan yaitu acara perlombaan keislaman yang didalamnya terdapat banyak lomba seperti lomba baca Al-qur'an, lomba menghafal Al-qur'an, dan lain-lain. Akan tetapi, saya belum sempat untuk mengikuti kepanitiaan yang ada di Fasilkom.</p>
              </div>
          </div>
          <div class="section-4">
              <div class="head-accor d-flex justify-content-between p-2 rounded bg-info rounded-top text-white mt-1 border border-info">
                  <div class="label toggle">
                      <h3 class="m-1">Apa saja prestasi Sultan yang pernah diraih?</h3>
                  </div>
                  <div class="arrow d-flex flex-row justify-content-around">
                    <h4 class="down"><i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
                    <h4 class="up"><i class="fa fa-chevron-up" aria-hidden="true"></i></h4>
                  </div>
              </div>
              <div class="content-accor px-3 pt-1">
                  <p>Dulu saya pernah mendapat prestasi yang bersifat lokal di sekolah saya saja seperti lomba hadist dan lain-lain. Saya jarang mengikuti lomba-lomba. Akan tetapi, saya ada keinginan untuk mengikuti beberapa lomba saat berada di Fasilkom ini.</p>
              </div>
          </div>
      </div>
  </div>
</div>

<br><br><br><br><br><br>


  
  <script src="{% static 'faq/js/script.js' %}"></script>
{% endblock content %}