.the-accordion{
    display: flex;
    flex-direction: column;
}
.head-accor{
    background-color: #a6e3e9;
}
.arrow{
    min-width: 5rem;
}
.label:hover {
    cursor: pointer;
    color:#0ce4f8;
}
.down:hover {
    cursor: pointer;
    color:#0ce4f8;
}
.up:hover {
    cursor: pointer;
    color:#0ce4f8;
}
.section-1{
    order: 1;
}
.section-2{
    order: 2;
}
.section-3{
    order: 3;
}
.section-4{
    order: 4;
}
.content-accor{
    display: none;
}