{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-info border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand text-white" href="{% url 'main:home' %}">Web</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white text-left" href="{% url 'main:home' %}">Kegiatan</a>
      <a class="p-2 text-white" href="{% url 'faq:page' %}">FAQ</a>
      <a class="p-2 text-white" href="{% url 'books:page' %}">Books</a>
      {% if user.is_authenticated %}
        <a class="text-white mr-1"><span class="glyphicon glyphicon-user text-white mr-2"></span>Hallo, {{request.user}}</a>
        <a class="text-white" href="{% url 'main:logout' %}"><span class="glyphicon glyphicon-log-in text-white"></span> Logout</a>
      {% else %}
        <a class="text-white mr-1" href="{% url 'main:register' %}"><span class="glyphicon glyphicon-user text-white"></span> Sign Up</a>
        <a class="text-white" href="{% url 'main:login' %}"><span class="glyphicon glyphicon-log-in text-white"></span> Login</a>
      {% endif %}
    </nav>
  </div>
  {% block content %}
  {% endblock content %}
</body>

</html>
