{% extends 'base.html' %}
{% load static %}


{% block meta %}
  <title>Books</title>
{% endblock meta %}



{% block content %}
<h1 class="text-center">Books</h1>
<br><br>
<div class="container">
    <input id="keyword" placeholder="Masukkan kata kunci" class="form-control">
    <br><br>

    <table class="table borderless">
        <tbody id="hasil">
        </tbody>
      </table>

    <!-- <ol id="hasil">
        
    </ol> -->
</div>


<script src="{% static 'books/js/script.js' %}"></script>
{% endblock content %}
    
    
