{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Daftar Kegiatan</title>
{% endblock meta %}

{% block content %}
<h1 class="text-center">Daftar Kegiatanku</h1><br>
<div class="container">

  <div class="row">
    
    {% for k in kegiatan %}
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100 card border-info mb-3">
        <div class="card-header bg-info">
          <h4 class="text-center">{{k.namaKegiatan}}</h4>
        </div>
        <div class="card-body">
          <h5>Peserta:</h5>
          <table class="table table-stripped table-borderless">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama</th>
              </tr>
            </thead>
            <tbody>
              {% for p in k.peserta.all %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{p.namaPeserta}}</td>
              </tr>
              {% endfor %}     
            </tbody>
          </table>
          {% if user.is_authenticated %}
            <a href="{{k.absolute_url}}" class="btn btn-success btn-block">Tambah</a>
          {% endif %}
        </div>
      </div>
    </div>  
    {% endfor %}
      
  </div>
  {% if user.is_authenticated %}
    <a href="{% url 'main:kegiatan' %}" class="btn btn-success btn-block btn-lg">Tambah Kegiatan</a>
  {% endif %}
</div>
{% endblock content %}
