{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 class="text-center">Tambah Peserta</h1>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-12">
                <input class="btn btn-success" type="submit" value="tambah peserta">
                <a href="{% url 'main:home' %}" class="btn btn-danger">Kembali</a>
            </div>
        </form>
    </div>
{% endblock content %}
    